# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
*.tfvars
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# GitOPS_application (integrated into this repo)

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Code review graph
.code-review-graph/
